bam
.bam
config.lua
datasrc/__pycache__
datasrc/*.pyc
objs
src/game/generated

Debug
bam
buildlog.txt
bam.exe
*.bat
.cproject
.project
*.dtb
*.log
*.exe
*.res
*.patch
*.prefs
*.lnk
*.pdb
*.sdf
*.sln
*.suo
*.swp
*.vcxproj
*.filters
*.user
*.cmd
.settings
*.opensdf
*.pyc
*.dll
*.coff

DDNet*
